# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.retry
*.*~
.facts_cache

# Tower runtime roles 
roles/**
!roles/requirements.yml
collections/**

# Try to avoid any plain-text passwords
*pwd*
*pass*
*password*
